@using lets.Models
@{
   
    ViewBag.Title = "index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">
    <title>Obaju : e-commerce template </title>
    <meta name="keywords" content="">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet'
        type='text/css'>
    <link href="../../Content/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/style.blue.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/style.default.css" rel="stylesheet" type="text/css" />
    <script src="../../Script/bootstrap-hover-dropdown.js" type="text/javascript"></script>
    <script src="../../Script/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Script/front.js" type="text/javascript"></script>
    <script src="../../Script/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../Script/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Script/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../../Script/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="../../Script/main.js" type="text/javascript"></script>
    <script src="../../Script/modernizr.js" type="text/javascript"></script>
    <script src="../../Script/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../../Script/respond.min.js" type="text/javascript"></script>
    <script src="../../Script/waypoints.min.js" type="text/javascript"></script>
    
   
</head>
<body>

    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Total Number of visitors: @ApplicationInstance.Application["Totaluser"]</a>
                
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    @if (Session["username"] != null)
                    {
                        <li><a href="/Home/account">My Account</a> </li>
                    }
                    else
                    {
                        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a> </li> }
                    <li><a href="/Home/register">Register</a> </li>
                    <li><a href="/Home/contact">Contact</a> </li>
                   
                    
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;</button>
                        <h4 class="modal-title" id="Login">
                            Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/Home/Index" method="post">
                        <div class="form-group">
                            <label for="id">
                                Let's shop UserName</label>
                            <input type="text" class="form-control" id="id" name="uname" required>
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Password</label>
                            <input type="password" class="form-control" id="password" name="pass" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in"></i>Log in</button>
                        </div>
                        </form>
                        <p class="text-center text-muted">
                            Not registered yet?</p>
                        <p class="text-center text-muted">
                            <a href="register.html"><strong>Register now</strong></a>! It is easy and done in
                            1&nbsp;minute and gives you access to special discounts and much more!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *** TOP BAR END *** -->
    <!-- *** NAVBAR ***
 _________________________________________________________ -->
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img src="../../Content/img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Lets Shop</span> </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span> <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span> <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/Home/Index">Home</a> </li>
                    <li class="dropdown yamm-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        data-hover="dropdown" data-delay="200">Furniture <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>
                                                Bedroom</h5>
                                            <ul>
                                                <!-- <li><a href="/Home/category?u=DoubleBed">Double Bed</a> </li>!-->
                                                <li>
                                                    @Html.ActionLink("Double Bed", "category", new { id = "DoubleBed", u = "Double Bed" })
                                                </li>
                                                <li>@Html.ActionLink("Single Bed", "category", new { id = "SingleBed", u = "Single Bed" })
                                                </li>
                                                <li>@Html.ActionLink("Cupboard", "category", new { id = "Cupboard", u = "Cupboard" })
                                                </li>
                                                <li>@Html.ActionLink("Dressing Table", "category", new { id = "DressingTable", u = "Dressing Table" })
                                                </li>
                                                <li>@Html.ActionLink("Wardrobe", "category", new { id = "Wardrobe", u = "Wardrobe" })
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>
                                                Diningroom</h5>
                                            <ul>
                                                <li>@Html.ActionLink("Dining Set", "category", new { id = "Dining Set", u = "Dining Set" })</li>
                                                <li>@Html.ActionLink("Chair", "category", new { id = "Chair", u = "Chair" })</li>
                                                <li>@Html.ActionLink("ShowCase", "category", new { id = "ShowCase", u = "ShowCase" })</li>
                                                <li>@Html.ActionLink("Dinner Wagon", "category", new { id = "Dinner Wagon", u = "Dinner Wagon" })
                                                </li>
                                                <li>@Html.ActionLink("Dinner Table", "category", new { id = "Dinner Table", u = "Dinner Table" })
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>
                                                Office</h5>
                                            <ul>
                                                <li>@Html.ActionLink("Office Chair", "category", new { id = "Office Chair", u = "Office Chair" })
                                                </li>
                                                <li>@Html.ActionLink("Table", "category", new { id = "Table", u = "Table" })
                                                </li>
                                                <li>@Html.ActionLink("Drawer", "category", new { id = "Drawer", u = "Drawer" })
                                                </li>
                                                <li>@Html.ActionLink("Shelf", "category", new { id = "Shelf", u = "Shelf" })
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>
                                                Living Room</h5>
                                            <ul>
                                                <li>@Html.ActionLink("Center Table", "category", new { id = "Center Table", u = "Center Table" })
                                                </li>
                                               
                                                <li>@Html.ActionLink("Sofa", "category", new { id = "Sofa", u = "Sofa" })
                                                </li>
                                                
                                                <li>@Html.ActionLink("Tv Cabinet", "category", new { id = "Tv Cabinet", u = "Tv Cabinet" })
                                                </li>
                                            </ul>
                                            <h5>
                                                Miscellaneous</h5>
                                            <ul>
                                              
                                                <li>@Html.ActionLink("Kitchen Cabinet", "category", new { id = "Kitchen Cabinet", u = "Kitchen Cabinet" })
                                                </li>
                                               
                                                <li>@Html.ActionLink("Children bed", "category", new { id = "Children bed", u = "Children bed" })
                                                </li>
                                               
                                                <li>@Html.ActionLink("Others", "category", new { id = "Others", u = "Others" })
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        data-hover="dropdown" data-delay="200">Fashion<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>
                                                Men</h5>
                                            <ul>
                                                
                                                 <li>@Html.ActionLink("Men T-shirts", "category", new { id = "Men T-shirts", u = "Men T-shirts" })
                                                </li>
                                              
                                                 <li>@Html.ActionLink("Men Shirts", "category", new { id = "Men Shirts", u = "Men Shirts" })
                                                </li>
                                                
                                                 <li>@Html.ActionLink("Men Pants", "category", new { id = "Men Pants", u = "Men Pants" })
                                                </li>
                                                
                                                 <li>@Html.ActionLink("Watches", "category", new { id = "Watches", u = "Watches" })
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>
                                                Women</h5>
                                            <ul>
                                               
                                                <li>@Html.ActionLink("Salwar Kameez", "category", new { id = "Salwar Kameez", u = "Salwar Kameez" })
                                                </li>
                                               
                                                <li>@Html.ActionLink("Saree", "category", new { id = "Saree", u = "Saree" })
                                                </li>
                                         
                                                <li>@Html.ActionLink("Women Shirts", "category", new { id = "Women Shirts", u = "Women Shirts" })
                                                </li>
                                             
                                                <li>@Html.ActionLink("Women Pants", "category", new { id = "Women Pants", u = "Women Pants" })
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>
                                                Shoes</h5>
                                            <ul>
                                                
                                                <li>@Html.ActionLink("Men Shoes", "category", new { id = "Men Shoes", u = "Men Shoes" })
                                                </li>
                                              
                                                <li>@Html.ActionLink("Men Sandals", "category", new { id = "Men Sandals", u = "Men Sandals" })
                                                </li>
                                                
                                                <li>@Html.ActionLink("Women Sandals", "category", new { id = "SarWomen Sandalsee", u = "Women Sandals" })
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="img/banner.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="img/banner2.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        data-hover="dropdown" data-delay="200">Home Decor<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>
                                                Decoration</h5>
                                            <ul>
                                               
                                                 <li>@Html.ActionLink("Curtain", "category", new { id = "Curtain", u = "Curtain" })
                                                </li>
                                                
                                                 <li>@Html.ActionLink("Show Pieces", "category", new { id = "Show Pieces", u = "Show Pieces" })
                                                </li>
                                                
                                                 <li>@Html.ActionLink("Home Lighting", "category", new { id = "Home Lighting", u = "Home Lighting" })
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>
                                                Electronics</h5>
                                            <ul>
                                                
                                                 <li>@Html.ActionLink("Refrigerator", "category", new { id = "Refrigerator", u = "Refrigerator" })
                                                </li>
                                               
                                                 <li>@Html.ActionLink("Television", "category", new { id = "Television", u = "Television" })
                                                </li>
                                               
                                                 <li>@Html.ActionLink("Washing Machine", "category", new { id = "Washing Machine", u = "Washing Machine" })
                                                </li>
                                                
                                                 <li>@Html.ActionLink("Air Conditioner", "category", new { id = "Air Conditioner", u = "Air Conditioner" })
                                                
                                                 <li>@Html.ActionLink("Others", "category", new { id = "Others", u = "Others" })
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--/.nav-collapse -->
            <div class="navbar-buttons">
                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="/Home/showallcart" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart">
                    </i><span class="hidden-sm">@Session["count"]</span></a>
                </div>
                <!--/.nav-collapse -->
                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span> <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="collapse clearfix" id="search">
                <form action="/Home/category" class="navbar-form" role="search"  method="post">
               

                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search">
                   
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->
    <!-- *** NAVBAR END *** -->
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <div id="main-slider">
                        <div class="item">
                            <img src="../../Content/img/main-slider1.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="../../Content/img/main-slider2.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="../../Content/img/main-slider3.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="../../Content/img/main-slider4.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                    <!-- /#main-slider -->
                </div>
            </div>
            <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
            <div id="advantages">
                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <h3>
                                    <a href="#">We love our customers</a></h3>
                                <p>
                                    We are known to provide best possible service ever</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon">
                                    <i class="fa fa-tags"></i>
                                </div>
                                <h3>
                                    <a href="#">Best prices</a></h3>
                                <p>
                                    You can check that the height of the boxes adjust when longer text like this one
                                    is used in one of them.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <h3>
                                    <a href="#">100% satisfaction guaranteed</a></h3>
                                <p>
                                    Free returns on everything for 3 months.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /#advantages -->
            <!-- *** ADVANTAGES END *** -->
            <!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
            <div id="hot">
                <div class="box">
                    <div class="container">
                        <div class="col-md-12">
                            <h2>
                                Hot this week</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="product-slider">
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product1.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product1_2.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">Fur coat with very but very very long name</a></h3>
                                    <p class="price">
                                        $143.00</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product2.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product2_2.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">White Blouse Armani</a></h3>
                                    <p class="price">
                                        <del>$280</del> $143.00</p>
                                </div>
                                <!-- /.text -->
                                <div class="ribbon sale">
                                    <div class="theribbon">
                                        SALE</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon new">
                                    <div class="theribbon">
                                        NEW</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon">
                                        GIFT</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product3.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product3_2.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="../../Content/img/product3.jpg" alt="" class="img-responsive" />
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">Black Blouse Versace</a></h3>
                                    <p class="price">
                                        $13.00</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product6.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product6_2.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product6.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">Black Blouse Versace</a></h3>
                                    <p class="price">
                                        $143.00</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product4.jpg" alt="" class="img-responsive" />>
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="../../Content/img/product4_2.jpg" alt="" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="../../Content/img/product4.jpg" alt="" class="img-responsive" />
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">White Blouse Versace</a></h3>
                                    <p class="price">
                                        $143.00</p>
                                </div>
                                <!-- /.text -->
                                <div class="ribbon new">
                                    <div class="theribbon">
                                        NEW</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">Fur coat</a></h3>
                                    <p class="price">
                                        $143.00</p>
                                </div>
                                <!-- /.text -->
                                <div class="ribbon gift">
                                    <div class="theribbon">
                                        GIFT</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">White Blouse Armani</a></h3>
                                    <p class="price">
                                        <del>$280</del> $143.00</p>
                                </div>
                                <!-- /.text -->
                                <div class="ribbon sale">
                                    <div class="theribbon">
                                        SALE</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon new">
                                    <div class="theribbon">
                                        NEW</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon">
                                        GIFT</div>
                                    <div class="ribbon-background">
                                    </div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="detail.html">Black Blouse Versace</a></h3>
                                    <p class="price">
                                        $143.00</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                    </div>
                    <!-- /.product-slider -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /#hot -->
            <!-- *** HOT END *** -->
            <!-- *** GET INSPIRED ***
 _________________________________________________________ -->
            <div class="container" data-animate="fadeInUpBig">
                <div class="col-md-12">
                    <div class="box slideshow">
                        <h3>
                            Get Inspired</h3>
                        <p class="lead">
                            Get the inspiration from our world class designers</p>
                        <div id="get-inspired" class="owl-carousel owl-theme">
                            <div class="item">
                                <a href="#">
                                    <img src="../../Content/img/getinspired1.jpg" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="../../Content/img/getinspired2.jpg" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="../../Content/img/getinspired3.jpg" alt="" class="img-responsive" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** GET INSPIRED END *** -->
            <!-- *** BLOG HOMEPAGE ***
 _________________________________________________________ -->
            <div class="box text-center" data-animate="fadeInUp">
                <div class="container">
                    <div class="col-md-12">
                        <h3 class="text-uppercase">
                            From our blog</h3>
                        <p class="lead">
                            What's new in the world of fashion? <a href="blog.html">Check our blog!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12" data-animate="fadeInUp">
                    <div id="blog-homepage" class="row">
                        <div class="col-sm-6">
                            <div class="post">
                                <h4>
                                    <a href="post.html">Fashion now</a></h4>
                                <p class="author-category">
                                    By <a href="#">John Slim</a> in <a href="">Fashion and style</a>
                                </p>
                                <hr>
                                <p class="intro">
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                                    ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                    Mauris placerat eleifend leo.</p>
                                <p class="read-more">
                                    <a href="post.html" class="btn btn-primary">Continue reading</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="post">
                                <h4>
                                    <a href="post.html">Who is who - example blog post</a></h4>
                                <p class="author-category">
                                    By <a href="#">John Slim</a> in <a href="">About Minimal</a>
                                </p>
                                <hr>
                                <p class="intro">
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                                    ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                    Mauris placerat eleifend leo.</p>
                                <p class="read-more">
                                    <a href="post.html" class="btn btn-primary">Continue reading</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /#blog-homepage -->
                </div>
            </div>
            <!-- /.container -->
            <!-- *** BLOG HOMEPAGE END *** -->
        </div>
        <!-- /#content -->
        <!-- *** FOOTER ***
 _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>
                            Pages</h4>
                        <ul>
                            <li><a href="text.html">About us</a> </li>
                            <li><a href="text.html">Terms and conditions</a> </li>
                            <li><a href="faq.html">FAQ</a> </li>
                            <li><a href="contact.html">Contact us</a> </li>
                        </ul>
                        <hr>
                        <h4>
                            User section</h4>
                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a> </li>
                            <li><a href="register.html">Regiter</a> </li>
                        </ul>
                        <hr class="hidden-md hidden-lg hidden-sm">
                    </div>
                    <!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <h4>
                            Top categories</h4>
                        <h5>
                            Men</h5>
                        <ul>
                            <li><a href="category.html">T-shirts</a> </li>
                            <li><a href="category.html">Shirts</a> </li>
                            <li><a href="category.html">Accessories</a> </li>
                        </ul>
                        <h5>
                            Ladies</h5>
                        <ul>
                            <li><a href="category.html">T-shirts</a> </li>
                            <li><a href="category.html">Skirts</a> </li>
                            <li><a href="category.html">Pants</a> </li>
                            <li><a href="category.html">Accessories</a> </li>
                        </ul>
                        <hr class="hidden-md hidden-lg">
                    </div>
                    <!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <h4>
                            Where to find us</h4>
                        <p>
                            <strong>Obaju Ltd.</strong>
                            <br>
                            13/25 New Avenue
                            <br>
                            New Heaven
                            <br>
                            45Y 73J
                            <br>
                            England
                            <br>
                            <strong>Great Britain</strong>
                        </p>
                        <a href="contact.html">Go to contact page</a>
                        <hr class="hidden-md hidden-lg">
                    </div>
                    <!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <h4>
                            Get the news</h4>
                        <p class="text-muted">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas.</p>
                        <form>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    Subscribe!</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        </form>
                        <hr>
                        <h4>
                            Stay in touch</h4>
                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook">
                            </i></a><a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter">
                            </i></a><a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram">
                            </i></a><a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus">
                            </i></a><a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope">
                            </i></a>
                        </p>
                    </div>
                    <!-- /.col-md-3 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->
        <!-- *** FOOTER END *** -->
        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">
                        © 2015 Your name goes here.</p>
                </div>
                <div class="col-md-6">
                    <p class="pull-right">
                        Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious.com</a>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->
    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="../../Script/bootstrap-hover-dropdown.js" type="text/javascript"></script>
    <script src="../../Script/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Script/front.js" type="text/javascript"></script>
    <script src="../../Script/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../Script/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Script/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../../Script/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="../../Script/main.js" type="text/javascript"></script>
    <script src="../../Script/modernizr.js" type="text/javascript"></script>
    <script src="../../Script/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../../Script/respond.min.js" type="text/javascript"></script>
    <script src="../../Script/waypoints.min.js" type="text/javascript"></script>
  
</body>
</html>

 